{{ define "signin.html" }}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Bienvenido a NetSpace | Ingresar</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">
</head>

<body class="text-center" style="background-color: #fff159">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
        <div class="inner">
            <h3 style="color: black;">Bienvenido a NetSpace</h3>
        </div>
    </header>

    <main role="main" class="inner cover">
        <h1 style="color: black;" class="cover-heading">Hola, Inicia Sesion!</h1>

        <img src="https://www.america-retail.com/static//2020/05/Logo-MercadoLibre-Codo-a-Codo-2-1.png" width="60%" alt="Computer Hope">
        <p style="color: black;" class="lead">Para usar las fuciones de la plataforma, primero debes iniciar Sesion en tu cuenta de Mercado Libre.</p>
        <p class="lead">
            <a href="https://auth.mercadolibre.com.ar/authorization?response_type=code&client_id=4026193299288302&redirect_uri=http://localhost:8080/auth/code/"
               class="btn btn-lg btn-outline-dark">Ingresar</a>
        </p>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
    </footer>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
{{ end }}
